@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,500;1,700&display=swap');
html{
    margin: 0;
    padding: 0;
}
body{
    /* width: 100%;
    padding: 0;
    margin: 0; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(270, 20%, 96%);
    position: relative;
}
.main{
    width: 375px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-size: 50%;
    background-repeat: no-repeat;
    border-radius: 0 0 0 100px;
}
.main::after{
    content: "";
    background: linear-gradient(to bottom, rgba(233,66,240,1) 0%, rgba(136,56,255,1) 100%);
    width: 250px;
    height: 600px;
    border-radius: 0 0 90% 0;
    position: absolute;
    z-index: -1;
    right: 50%;
    top: 0%;
}
.phone{
    margin-top: 80px;
    background-color: white;
    height: 600px;
    width: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.div{
    background-color: white;
    width: 150px;
    height: 30px;
    position: absolute;
    border-radius: 0 0 10px 10px;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    height: 170px;
    margin-top: 10px;
    border-radius: 20px 20px 10px 10px;
    background: linear-gradient(90deg, rgba(233,66,240,1) 0%, rgba(136,56,255,1) 100%);
    background-size: auto;
}
.sec1{
    display: flex;
    gap: 1rem;
    align-items: center;

}
.sec1a{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.fa-chevron-left{
    color: white;
    padding-right: 5px;
}
img{
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    height: 30px;
    width: 30px;
}
.name{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}
.function{
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    color: hsla(0, 0%, 100%, 0.938);
}
.fa-ellipsis-vertical{
    color: white;
}

.greysection{
    background-color: hsl(270, 20%, 96%);
    height: 900px;
    width: 260px ;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 15px;
}
.section2{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.msg1{
    background-color: hsl(277, 95%, 93%);
    width: 170px;
    height: 40px;
    border-radius: 15px 15px 15px 0px;;
    margin-left: 15px;
    margin-top: 10px;
    text-align: left;
}
.content{
    color: hsl(276, 55%, 52%);
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    padding: 7px;
}
.images{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: 95px;
    gap: 0.5rem;
}
#dog{
    border-radius: 9px;
    height: 40px;
    width: 50px;
    border-color: transparent;
}
.msg2{
    background-color: white;
    height: 40px;
    width: 150px;
    border-radius: 15px 15px 0px 15px;;
    margin-left: 95px ;
    text-align: left;
}
.msg3{
    background-color: white;
    height: 30px;
    width: 100px;
    border-radius:  15px 15px 0px 15px;
    margin-left: 145px ;
    text-align: left;
}
.content2{
    color: hsl(276, 55%, 52%);
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    padding: 7px;
}
.msg4{
    background-color: hsl(277, 95%, 93%);
    width: 170px;
    height: 50px;
    border-radius: 15px 15px 15px 0px;;
    margin-left: 15px;
    margin-top: 10px;
    text-align: left;
}
.cases{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
    gap: 0.5rem;
}
.case{
    background: linear-gradient(90deg, rgba(233,66,240,1) 0%, rgba(136,56,255,1) 100%);
    width: 170px;
    height: 35px;
    border-radius: 15px 15px 15px 0px;
    padding: 0 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div1{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.circle{
    background-color: transparent;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}
.text{
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    color: hsla(0, 0%, 100%, 0.938);
}
.price{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}
button{
    width: 220px;
    height: 35px;
    margin-left: 17px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-color: transparent;
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
a{
    text-decoration: none;
    display: flex;
    color: hsl(270, 7%, 64%);
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}
.fa-circle-chevron-right{
   font-size: 25px;
   color:hsl(271, 36%, 24%);
}
.pg1{
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: hsl(271, 36%, 24%);
}
.pg2{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color:hsl(270, 7%, 64%);
    text-align: center;
    width: 250px;
}
.aphone{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width: 1024px) {
    .main{
        flex-direction: row;
        height: 100vh;
        gap: 3rem;
    }
    .phone{
        padding: 0 15px;
        margin-left: 250px;
    }
    .aphone{
    }
    .pg1{
        width: 450px;
        text-align: left;
    }
    .pg2{
        width: 450px;
        text-align: left;
    }
    .main::after{
        width: 600px;
        height: 1000px;
        border-radius: 0 0 50% 50%;
        position: absolute;
        z-index: -1;
        right: 60%;
        top: -2rem;
    }
    .main::before{
        content: "";
        background: hsl(273, 27%, 94%);
        width: 350px;
        height: 900px;
        border-radius: 100% 0 0 0;
        position: absolute;
        z-index: -1;
        right: 0px;
        bottom: -1rem;
    }
    
    }